@import url('https://fonts.googleapis.com/css?family=KleeOne&display=swap');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align: center;
}

.h1{
    font-family: callie;
}
.title {
    font-family: callie;
    font-size: 7vw;
}

.subtitle {
    font-size: 3vw;
}

.img-container {
}

.banner_image {
    width: 70vw;
    height: auto;
}
