@page "/gallery"

<PageTitle>Gallery</PageTitle>
<link rel="stylesheet" href="css/gallery.css" />

<h3>gallery</h3>


<center>
    <div class="img-grid"> 
	    <img class="gallery_image" src="images/faceplant.jpeg" alt="faceplant bella1" />
        <img class="gallery_image" src="images/faceplant.jpeg" alt="faceplant bella2" />
        <img class="gallery_image" src="images/faceplant.jpeg" alt="faceplant bella3" />
        <img class="gallery_image" src="images/faceplant.jpeg" alt="faceplant bella4" />
        <img class="gallery_image" src="images/small-box.jpg" alt="faceplant bella5" />
        <img class="gallery_image" src="images/faceplant.jpeg" alt="faceplant bella6" />
        <img class="gallery_image" src="images/faceplant.jpeg" alt="faceplant bella7" />
        <img class="gallery_image" src="images/faceplant.jpeg" alt="faceplant bella8" />
        <img class="gallery_image" src="images/faceplant.jpeg" alt="faceplant bella9" />
    </div>
</center>