@page "/"

<PageTitle>Ciao, Bella!</PageTitle>

<HeadContent>
    <!-- Link to your CSS file -->
    <link rel="stylesheet" href="css/index.css" />
</HeadContent>


<h1 class="title">Ciao, Bella!</h1>
<p class="subtitle">Hi! I'm Bella, and this is my portfolio ^u^</p>

<center>
<div class="img_container">
    <img class="banner_image" src="images/faceplant.jpeg" alt="faceplant bella" />
</div>
</center>

<button type="button" class="btn btn-cta"><a href="/gallery">Gallery</a></button>
<button type="button" class="btn btn-cta"><a href="/resume">Resume</a></button>


