@page "/"

<PageTitle>Index</PageTitle>

<HeadContent>
    <!-- Link to your CSS file -->
    <link rel="stylesheet" href="css/gallery.css" />
</HeadContent>


<h1 class="title">Ciao, Bella!</h1>
<p class="subtitle">Hi! I'm Bella, and this is my portfolio</p>



<img class="banner_image" src="images/faceplant.jpeg" alt="faceplant bella" />

