@page "/"

<PageTitle>Index</PageTitle>

<HeadContent>
    <!-- Link to your CSS file -->
    <link rel="stylesheet" href="css/index.css" />
</HeadContent>

<h1 class="title">Ciao, Bella</h1>
<p class="subtitle">Hi! I'm Bella, and this is my portfolio</p>


<div class="img-container"> 
	<img class="image" src="images/faceplant.jpeg" alt="faceplant bella" />
</div>

