@page "/"

<PageTitle>Index</PageTitle>

<HeadContent>
    <!-- Link to your CSS file -->
    <link rel="stylesheet" href="css/gallery.css" />
</HeadContent>

<h1 class="title">Ciao, Bella</h1>
<p class="subtitle">Hi! I'm Bella, and this is my portfolio</p>


<img class="banner_image" src="images/faceplant.jpeg" alt="faceplant bella" />

<center>
    <div class="img-grid"> 
	    <img class="gallery_image" src="images/faceplant.jpeg" alt="faceplant bella1" />
        <img class="gallery_image" src="images/faceplant.jpeg" alt="faceplant bella2" />
        <img class="gallery_image" src="images/faceplant.jpeg" alt="faceplant bella3" />
        <img class="gallery_image" src="images/faceplant.jpeg" alt="faceplant bella4" />
        <img class="gallery_image" src="images/faceplant.jpeg" alt="faceplant bella5" />
        <img class="gallery_image" src="images/faceplant.jpeg" alt="faceplant bella6" />
        <img class="gallery_image" src="images/faceplant.jpeg" alt="faceplant bella7" />
        <img class="gallery_image" src="images/faceplant.jpeg" alt="faceplant bella8" />
        <img class="gallery_image" src="images/faceplant.jpeg" alt="faceplant bella9" />
    </div>
</center>
